# Node (frontend)
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python (backend)
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.env
backend/instance/

# VSCode
.vscode/

# Environment
.env
.env.*

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Docker
**/docker-compose.override.yml
**/.docker/

# Mac/Linux swap/lock/temp files
*.swp
*.swo
*.lock

# Windows batch files backup
*.bat~
*.ps1~

# Python egg
*.egg-info/

# Neo4j 
*.dump
*.db

# Ignore Ollama downloaded models 
ollama/
backend/data.csv
backend/topic_data.csv
backend/data_extraction/memento_data/bertopic_topics_renamed.csv
backend/data_extraction/memento_data/bertopic_topics.csv
backend/data_extraction/memento_data/html_results.csv
backend/data_extraction/memento_data/topic_results copy.csv
backend/data_extraction/memento_data/topic_results_renamed.csv
backend/data_extraction/memento_data/bertopic_topics.csv
backend/data_extraction/memento_data/bertopic_topics.csv
backend/data_extraction/memento_data/bertopic_topics.csv
backend/data_extraction/memento_data/bertopic_topics.csv
backend/data_extraction/memento_data/newsCorpora_with_topic.csv
backend/data_extraction/memento_data/oldbertopic_topics.csv
backend/old_data.csv
backend/old_topic_data.csv
